.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 360px;
    margin-top: 150px;
    width: 400px;
    background-color: #FFFFFF;

}
.form-box {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-bottom: 20px;
}
h1 {
    margin-bottom: 50px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.015em;
    color: #000000;
}
 p {
    width: 132px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
 }
 input {
    padding-left: 10px;
    margin-left: 10px;
    width: 207px;
    height: 32px;
    background: #FFFEFE;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
    margin-bottom: 15px;
 }
 .mat-icon {
   color: black;
 }

 #click {
    margin-right: 30px;
    width: 170px;
    height: 30px;
    background: black;
    border-radius: 25px;
    transform: rotate(-0.33deg);
 }
 #click p {
     margin: 0;
    padding-top: 3px;
    padding-bottom: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
 }
#click:hover {

    border-radius: 25px;
    background: #0079D0;
}
.card1 {
  background-color: #FFFFFF;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  width: 500px;
  border: 2px solid black;
}
mat-card-subtitle p {
    width: max-content;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}
.form-box {
  margin-left: 40px;
}
