<div class="card">
  <h1 class="title-contacts">Рахимжанов Ерназар</h1>
  <div class="all-subtitle-contacts">
  <div class="text">
    <p class="subtitle-contacts">Должность:</p>
    <p class="subtitle-contacts">Специалист сектора ПАК</p>
  </div>
  <div class="text">
    <p class="subtitle-contacts">Год рождения:</p>
    <p class="subtitle-contacts">31.12.1998</p>
  </div>
  <div class="text">
    <p class="subtitle-contacts">Гражданства:</p>
    <p class="subtitle-contacts">казах</p>
  </div>
  <div class="text">
    <p class="subtitle-contacts">Телефон:</p>
    <p class="subtitle-contacts"> +7(708)-122-78-29</p>
  </div>
  <p class="subtitle-contacts">О себе: Магистрант 2-го курса, Университет АУЭС им. Гумарбека Д.У., специальность информационные системы</p>
  </div>

</div>
